global
    log stdout format raw daemon
	stats timeout 30s
	daemon
	maxconn 600

defaults
	mode	http
	log	    global
	option	httplog
	option	dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend web
	mode http
	bind :80
	timeout client 60s

    filter spoe engine test-engine config /usr/local/etc/haproxy/test_spoa.cfg

    default_backend test

backend test
    http-request set-header x-test-arg %[var(req.test.spoe_arg)]
    server test 172.16.0.11:8000

backend test-agent
    mode tcp
    server spoe 172.16.0.10:8500
